<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}{{ title }} - Remy{% endblock %}
    </title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content" class="container">
      <nav>
        <ul>
          <li>
            <strong>
              <a href="/">
                <h1>Remy</h1>
              </a>
            </strong>
          </li>
        </ul>
      </nav>
      <main>
        {% block content %}<p>Placeholder content</p>{% endblock %}
      </main>
    </div>
  </body>
</html>
