<!DOCTYPE html>
<html lang="en">
  <head>
    <title>

      {% block title %}{{ title }} - Remy{% endblock %}
    </title>
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/index.js"></script>
    <!-- TODO: install this with a package.json instead of CDNs -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content" class="container">
      <nav>
        <ul>
          <li>
            <strong>
              <a href="/">
                <h1>remy</h1>
              </a>
            </strong>
          </li>
        </ul>
        <ul>
          <li>
            <a id="shopping-list" href="/shopping-list">
              <img id="shopping-list-icon"
                   class="nav-icon"
                   src="/static/shopping-cart-line.svg" />
            </a>
          </li>
          <li>
            <button id="dark-mode-toggle">
              <div id="dark-mode-toggle-icon" class="nav-icon" />
            </button>
          </li>
        </ul>
      </nav>
      <main>

        {% block content %}<p>Placeholder content</p>{% endblock %}
      </main>
    </div>
  </body>
</html>
