{% extends "base.html" %}

{% block title %}
  {{ name }}
{% endblock title %}

{% block content %}
  <h2>{{ name }}</h2>
  {% for section in recipe.sections %}
    {% match section.name %}
      {% when Some with (name) %}
        <h3>{{ name }}</h3>
      {% endwhen %}
      {% when None %}
      {% endwhen %}
    {% endmatch %}
    {% for step in section.content %}
      <p>
        {% match step %}
          {% when Content::Text with (text) %}
            {{ text }}
          {% endwhen %}
          {% when Content::Step with (inner_step) %}
            <b>{{ inner_step.number }}.</b>
            {% for step_item in inner_step.items %}
              {% match step_item %}
                {% when Item::Text with {value: text} %}
                  {{ text }}
                {% endwhen %}
                {% when Item::Ingredient with {index: ingredient_index} %}
                  {% let ingredient = recipe.ingredients[ingredient_index | deref ] %}
                  {{ ingredient.name }}
                {% endwhen %}
                {% when Item::Cookware with {index: cookware_index} %}
                  <i>Cookware lives at index {{ cookware_index }}</i>
                {% endwhen %}
                {% when Item::Timer with {index: timer_index} %}
                  <p>Timer lives at index {{ timer_index }}</p>
                {% endwhen %}
                {% when Item::InlineQuantity with {index: quantity_index } %}
                  <p>Inline quantity lives at index {{ quantity_index }}</p>
                {% endwhen %}
              {% endmatch %}
            {% endfor %}
          {% endwhen %}
        {% endmatch %}
      </p>
    {% endfor %}
  {% endfor %}
{% endblock content %}
