{% extends "base.html" %}

{% block title %}
  {{ name }}
{% endblock title %}

{% block content %}
  <h2>{{ name }}</h2>
  {% for section in recipe.sections %}
    {% match section.name %}
      {% when Some with (name) %}
        <h3>{{ name }}</h3>
      {% endwhen %}
      {% when None %}
      {% endwhen %}
    {% endmatch %}
    {% for step in section.content +%}
      <p>
        {% match step %}
          {% when Content::Text with (text) %}
            {{ text }}
          {% endwhen %}
          {% when Content::Step with (inner_step) %}
            <b>{{ inner_step.number }}.</b>
            {% for step_item in inner_step.items %}
              {% match step_item %}
                {% when Item::Text with {value: text} %}
                  {{ text }}
                {% endwhen %}
                {% when Item::Ingredient with {index: ingredient_index} %}
                  {% let ingredient = recipe.ingredients[ingredient_index | deref ] %}
                  <span class="ingredient"
                        {% match ingredient.quantity %}
                        {% when Some with (quantity) %}
                        data-tooltip="{{ quantity }}"
                        {% endwhen %}
                        {% when None %}
                        {% endwhen %}
                        {% endmatch %}>{{ ingredient.name }}</span>
                {% endwhen %}
                {% when Item::Cookware with {index: cookware_index} %}
                  {% let cookware = recipe.cookware[cookware_index | deref ] %}
                  <span class="cookware">{{ cookware.name }}</span>
                {% endwhen %}
                {% when Item::Timer with {index: timer_index} %}
                  {% let timer = recipe.timers[timer_index | deref ] %}
                  {% match timer.name %}
                    {% when Some with (timer_name) %}
                      <span class="timer">{{ timer_name }}</span>
                    {% endwhen %}
                    {% when None %}
                    {% endwhen %}
                  {% endmatch %}
                  {% match timer.quantity %}
                    {% when Some with (timer_quantity) %}
                      <span class="timer">{{ timer_quantity }}</span>
                    {% endwhen %}
                    {% when None %}
                    {% endwhen %}
                  {% endmatch %}
                {% endwhen %}
                {% when Item::InlineQuantity with {index: quantity_index } %}
                  {% let inline_quantity = recipe.inline_quantities[quantity_index | deref ] %}
                  <span class="inline-quantity">{{ inline_quantity }}</span>
                {% endwhen %}
              {% endmatch %}
            {% endfor %}
          {% endwhen %}
        {% endmatch %}
      </p>
    {% endfor %}
  {% endfor %}
{% endblock content %}
